body {
    background-color: black;

}

.header { 
    padding: 0;
}

.main {
    padding: 0;
}

.footer {
    padding: 0;
}

.text1 {
    color: white;
    font-family: 'Segoe UI', Tahoma;
}

#textBox {
	max-width: 70%;
	display: block;
	height: auto;
	margin: 0 auto;
	text-align: left;
	color: whitesmoke;
	line-height: 150%;
	font-variant: small-caps;
	font-family: 'Audiowide';
	font-size: calc(5px + 4vw);
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	.textSec {
		margin: 0 15px 0 15px;
		span {
			transition: all .1s ease;
			margin: .5px;
			-webkit-filter: brightness(120%);
		}
	}
}