body {
    background-color: black;

}

button {
	justify-content: center;
	padding-left: 30px;
	padding-right:30px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgb(52, 51, 51);
}


.header { 
    padding: 0;
	align-items: left;
}

.main {
    padding: 0;
	align-items: center;
	display: flex;
	justify-content: center;
}

.footer {
    padding: 0;
}

.text1 {
    color: white;
    font-family: 'Segoe UI', Tahoma;
	text-align: center;
}

.plsbecenter {
	justify-content: center;
}

img {
	width: 128px;
	height: 128px;
	padding: 10px;
	align-items: center;
}

#textBox {
	max-width: 70%;
	display: block;
	height: auto;
	margin: 0 auto;
	text-align: left;
	color: whitesmoke;
	line-height: 150%;
	font-variant: small-caps;
	font-family: 'Audiowide';
	font-size: calc(5px + 4vw);
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	.textSec {
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 30px;
		padding-bottom: 30px;
		margin: 0 15px 0 15px;
		span {
			transition: all .1s ease;
			margin: .5px;
			-webkit-filter: brightness(120%);
		}
	}
}
