body { 
  font-family: Georgia;
}

footer {
  background-color: #1b1b1b;
  height: 270px;
}

li {
  list-style: none;
  float: left;
  padding:38px 25px;
  text-shadow: #1b1b1b;
  color: rgb(106, 107, 107);
}
p {
  color: rgb(92, 91, 91);
}

h1 {
  font-style: italic;
  font-size: 1.3rem;
  font-family: sans-serif;
  text-align: center;
  color: rgb(165, 71, 42);
  font-weight: 10;
}

a {
  color: black;
  font-family: Georgia;
  font-weight: 150;
  font-smooth: 3;
  font-style: normal;
}

.header {
  height: 95px;
  background-color:#98fffa ;
  color: #ffffff;
}

.header-logo {
  font-size: 25px;
  padding: 20px 40px ;
  float: left;
}

.main {
  background-color: rgb(255, 255, 255);
  height: 600px;
  }

.footer-logo {
  font-size: 25px;
  padding: 20px 35px;
  float: left;
  }